<div class="favorites-div">
  <% heart = inline_svg_tag "favorite", class: "favorite-svg", size: "25px*25px" %>
  <% if current_spree_user %>
    <%= button_tag heart, {
          id: "js-favorite-button",
          class: "favorite-button",
          'data-user-id': spree_current_user.id,
          remote: true } %>
  <% else %>
    <%= link_to heart, spree_login_path if defined?(spree_login_path) %>
  <% end %>
</div>
