<div class="favorite-link" data-hook="favorite-link">
  <% heart = inline_svg_tag "favorite", class: "favorite-svg" %>
  <% if spree_current_user %>
    <%= link_to heart, "",
          id: "js-favorite-link",
          'data-user-id': spree_current_user.id,
          remote: true %>
  <% else %>
    <%= link_to heart, spree_login_path if defined?(spree_login_path) %>
  <% end %>
</div>