<% if @favorites.present? %>
	<div class="container account-favorites">
  	<h3 class="text-uppercase spree-mb-large spree-mt-large spree-header" ><%= Spree.t(:my_favorites, scope: :favorites) %></h3>
	  <div class="row" data-hook="whised_products">
  	  <%= render partial: 'favorite', collection: @favorites %>
  	</div>
  </div>
<% else %>
  <div class="alert alert-info">
    <%= Spree.t(:no_favorites, scope: :favorites) %>
  </div>
<% end %>

