#wish_link {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
}

#wish_link svg {
  width: 25px;
  height: 25px;
  margin: 5px;
  padding: 0;
  fill: grey;
/*  filter: drop-shadow(0 0 2px #fff);
  -webkit-filter: drop-shadow(0 0 2px #fff); */
}

.wished svg {
  fill: red !important;
}