.favorite-link {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  z-index: 2;
}

.favorite-svg {
  height: 25px;  
  width: 25px;
  margin: 5px;
  padding: 0;
  fill: grey;
}

.wished svg {
  fill: red !important;
}

@import "spree_favorites/variables";
@import "spree_favorites/bootstrap-overrides";
@import "bootstrap";


.alert-success {
  color: theme-color("success");
  background-color: theme-color("light-background");
  font-size: font-px-to-rem(12px);
  margin-top: 10px;
  flex-basis: 100%;
  margin-bottom: 0;
}

.alert-notice {
  color: theme-color("notice");
  font-size: font-px-to-rem(12px);
  margin-top: 10px;
  flex-basis: 100%;
  margin-bottom: 0;
}

.alert-error {
  color: theme-color("danger");
  font-size: font-px-to-rem(12px);
  margin-top: 10px;
  flex-basis: 100%;
  margin-bottom: 0;
}

