/*
 *= require spree_favorites/favorites
*/


.favorites-div {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  z-index: 2;
}

.favorite-button {
	padding: 0;
	background: none;
	border: none;
}

.favorite-button:focus {
   outline: none;
}

.favorite-svg {
  margin: 5px;
  padding: 0;
  fill: grey;
  opacity: 0.5;
  filter: opacity(50%); /* For IE8 and earlier */
  color: grey;
}

.wished svg {
  fill: red;
}